<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="nav" class="nav-content-wrapper">
        <nav>
            <ul>
                <li><a href="/blog">Main Blog Page</a></li>
                <li><a href="/newpost">New Post</a></li>
            </ul>
        </nav>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>